{% extends "layouts/index.html" %}
{% block title%}New account{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="#" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required/>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required/>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required/>
        <label for="password_conf">Password Confirmation:</label>
        <input type="password" name="password_conf" id="password_conf" required/>
        <input type="submit" value="submit">
    </form>
{% endblock %}