<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/output.css">
    </head>
    <body>
    <div>
        {% block admin %}
        {% endblock %}
    </div>
    <nav>
      <div>
        <a href="/" class="text-3xl font-bold underline hover:text-red-700">Navbar</a>
        <div id="navbarNav">
          <ul>
            <li>
              <a aria-current="page" href="/home" class="hover:text-red-700">Home</a>
            </li>
            <li>
              <a href="/login" class="hover:text-red-700">login</a>
            </li>
            <li>
              <a href="/logout" class="hover:text-red-700">logout</a>
            </li>
            <li>
              <a href="/user/new_post" class="hover:text-red-700">new post</a>
            </li>
            <li>
              <a href="/view" class="hover:text-red-700">view</a>
            </li>
            <li>
                <a href="/user/articles" class="hover:text-red-700">My articles</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    </body>
</html>